html,
body, #app {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

button, input, select, label {
  cursor: pointer;
  font-family: inherit;
}

input[type="text"] {
  cursor: text;
}

.pane {
  background-color: $pane;
  backdrop-filter: $frostedFilter;
  border-radius: $borderRadius;
}

// Add me
.button--dialog {
  background: $dark;
  color: $light;
  font-size: $fontSizeSM;
  padding: $spaceSM $spaceL;
  border-radius: $borderRadius;
  border: solid 2px $primary;

  &:hover {
    border-color: $primaryLight;
  }

  &:active {
    border-color: $secondary;
  }
}