html,
body, #app {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

button, input, select, label {
  cursor: pointer;
  font-family: inherit;
}

input[type="text"] {
  cursor: text;
}

.pane {
  background-color: $pane;
  backdrop-filter: grayscale(0.5) blur(1px);
  border-radius: 3px;
}

// Add me
.button {}