:root {
  font-family: $fontMain; //system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: $fontSizeSM;
  color: $light;

  background-color: $dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.no-app-message {
  text-align: center;
  font-size: $fontSizeXL;
  padding: 20px;
}

.js .no-js {
  display: none;
}